
nav div a.navbar-brand{
    font-weight: bold;
    font-size: 23px;
    margin-left: 60px;
    margin-right: 10%;
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 30px;
    padding-right: 30px;
}



nav li
{
    font-size: 0.9em;
}

