table.accuracytable {
    width: 720px;
}
table.mystocktable {
    width: 720px;
    margin: 0px auto;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.mystocktable .sort {
    border: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
}
