h2 {
    text-align: center;
    margin-bottom: 20px;
}

div#idbox {
    display: flex;
    justify-content: center;
}

div#pwbox {
    display: flex;
    justify-content: center;
}
div#emailbox {
    display: flex;
    justify-content: center;
}
div#namebox {
    display: flex;
    justify-content: center;
}

div#submitbtn {
    display: flex;
    justify-content: center;
}

div#submitbtn a {
    margin-bottom: 20px;
}
div#signup {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

a{
    color: white;
    text-decoration: none;
}
